@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

/*Swiper Slider*/

.slider-swiper-first,
.slider-swiper-first::before,
.slider-swiper-first::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version */
}

.slider-swiper-second {
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

@media (min-width: 1440px) {
    .slider-swiper-second {
        zoom: 0.78;
    }
}

@media (min-width: 2560px) {
    .slider-swiper-second {
        zoom: 0.98;
    }
}

@media (min-width: 3860px) {
    .slider-swiper-second {
        zoom: 1.78;
    }
}


.slider-swiper-first::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: #797979;
    transition: all 0.5s ease-in-out;
}

.slider-swiper-first::-webkit-scrollbar-thumb:hover {
    background: #222224;
}

.slider-swiper-first::-webkit-scrollbar-track {
    background: #f9f9f9;
}

.slider-swiper-third {
    font-size: 1.6rem;
    background: #f5f5f5;
    transition: all 0.5s ease;
}

.slider-swiper-third:hover {
    transform: scale(1.02);
}
.container_for_slider {
    margin: 0 auto;
}

.wws {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    width: 15%;
}

.wws.left {
    background-image: -webkit-linear-gradient(left, rgb(243, 243, 244) 0, rgba(0, 0, 0, .0001) 100%);
    background-image: -o-linear-gradient(left, rgb(243, 243, 244) 0, rgba(0, 0, 0, .0001) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgb(243, 243, 244)), to(rgba(0, 0, 0, .0001)));
    background-image: linear-gradient(to right, rgb(243, 243, 244) 0, rgba(0, 0, 0, .0001) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x
}

.wws.right {
    right: 0;
    left: auto;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgb(243, 243, 244) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgb(243, 243, 244) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgb(243, 243, 244)));
    background-image: linear-gradient(to right, rgb(255 255 255 / 0%) 0, rgb(243, 243, 244) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x
}


.text-center {
    text-align: center;
}

.section-heading {
    font-size: 3rem;
    color: #fdb801;
    padding: 2rem 0;
}

#tranding {
    padding: 1rem 0;
}

@media (max-width: 1440px) {
    #tranding {
        padding: 7rem 0;
    }
}

#tranding .tranding-slider {
    height: 52rem;
    padding: 2rem 0;
    position: relative;
}


@media (max-width: 500px) {
    #tranding .tranding-slider {
        height: 45rem;
    }
}

.tranding-slide {
    width: 37rem;
    height: 42rem;
    position: relative;
}

@media (max-width: 500px) {
    .tranding-slide {
        width: 28rem !important;
        height: 36rem !important;
    }

    .tranding-slide .tranding-slide-img img {
        width: 10rem !important;
        height: 16rem !important;
    }
}

.tranding-slide .tranding-slide-img img {
    width: 37rem;
    height: 42rem;
    border-radius: 2rem;
}

.tranding-slide .tranding-slide-content {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.tranding-slide-content .food-price {
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: #ffffff;
}

.tranding-slide-content .tranding-slide-content-bottom {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    color: #ffffff;
}

.food-rating {
    padding-top: 1rem;
    display: flex;
    gap: 1rem;
}

.rating ion-icon {
    color: #fdb801;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
    display: none;
}

.tranding-slider-control {
    position: relative;
    bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tranding-slider-control .swiper-button-next {
    left: 58% !important;
    transform: translateX(-58%) !important;
}

@media (max-width: 990px) {
    .tranding-slider-control .swiper-button-next {
        left: 70% !important;
        transform: translateX(-70%) !important;
    }
}

@media (max-width: 450px) {
    .tranding-slider-control .swiper-button-next {
        left: 80% !important;
        transform: translateX(-80%) !important;
    }
}

@media (max-width: 990px) {
    .tranding-slider-control .swiper-button-prev {
        left: 30% !important;
        transform: translateX(-30%) !important;
    }
}

@media (max-width: 450px) {
    .tranding-slider-control .swiper-button-prev {
        left: 20% !important;
        transform: translateX(-20%) !important;
    }
}

.tranding-slider-control .slider-arrow {
    background: #ffffff;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    left: 42%;
    transform: translateX(-42%);
    filter: drop-shadow(0px 0px 7px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .slider-arrow ion-icon {
    font-size: 2rem;
    color: #222224;
}

.tranding-slider-control .slider-arrow::after {
    content: '';
}

.tranding-slider-control .swiper-pagination {
    position: relative;
    width: 15rem;
    bottom: 0!important;
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {
    background: #fdb801;
}